@import url("//cdn.web-fonts.ge/fonts/bpg-rioni/css/bpg-rioni.min.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
 background-color: #444;
 font-family: "BPG Rioni", sans-serif;
 width: 100vw;
 min-height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
}
main{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & section{
        margin: 5% 0;
        background: #333;
        width: 80vw;
        box-shadow: 0 20px 50px rgba(0,0,0,.8);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10% 0;
        &:hover{
            color: whitesmoke; 
            box-shadow: inset 0px 0px 10px rgba(0,0,0,0.5);
        }
        & h2{
            color: #5C5C5C;
            margin: 5px 0 5px 0;
            font-size: 20px;
        }
        &:active{
            box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;
        }
    }
    .text {
        background-color: #FFF;
        width: 80vw;
        margin-top: -120px;
        display: none;
    }
}













.custom {
    color: #5C5C5C;
}